{% extends "layout.html"%}
{% block content %}
  
  
<a  href="{{ url_for('contacts.new_contact') }}">
  <button type="button" class="btn btn-primary float-end btn-sm" data-toggle="modal" data-target="#mymodal">
    Add New Contact</button></a>
  <table class="table table-hover table-info">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    {% for contact in contacts%}
    <tr>
      <td>{{contact.id}}</td>
      <td>{{contact.name}}</td>
      <td>{{contact.phone_number}}</td>
      <td>{{contact.email}}</td>
      <td>
    <a href="{{ url_for('contacts.update_contact',contact_id=contact.id)}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#editmodal">Edit</a>
    <a href="{{ url_for('contacts.delete_contact',contact_id=contact.id )}}" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#deletemodal">Delete</a>
      </td>
    </tr>
    {% endfor %}


  

  
  {% endblock content %}